# Python exercises 1 part 1/2
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Add and multiply the two numbers below.

In [1]:
nr1 = 5
nr2 = 10

In [2]:
print (nr1 + nr2)
print (nr1*nr2)

15
50

# Lists

### Extract the first and last element in the list.

In [4]:
l = [1, 2, 3, 10, 15, 100]

In [5]:
print (l[0])
print (l[-1])

1
100

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [6]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

In [11]:
print (list_1[0] == list_1[-1])
print (list_2[0] == list_2[-1])

True
False

### Replace the number 4567 in the list with the number 22.

In [13]:
replace_4567 = [100, 2, 4567, 5, 7]

In [14]:
replace_4567[2] = 22
print(replace_4567)

[100, 2, 22, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [23]:
replace_two_numbers = [1, 2, 3, 4, 5]

In [24]:
replace_two_numbers[2:4] = 30, 40
print(replace_two_numbers)

[1, 2, 30, 40, 5]

### Print out the list below but in reverse order.

In [25]:
my_list = [1, 2, 3, 10, 15, 100]

In [26]:
print(my_list[::-1])

[100, 15, 10, 3, 2, 1]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [27]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [32]:
print (list_containing_a_list[2])
print (list_containing_a_list[2][1:4])
print (list_containing_a_list[-3])
print (list_containing_a_list[0:3])

[10, 12, 13, 5, 100]
[12, 13, 5]
8888
[1, 2, [10, 12, 13, 5, 100]]

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [36]:
empty_list_1 = []

In [37]:
empty_list_1.append(10)
empty_list_1.append('Hello')
print (empty_list_1)

[10, 'Hello']

### Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [42]:
empty_list_2 = []

In [43]:
l1 = [10, 'Hello']
empty_list_2.extend(l1)
print (empty_list_2)

[10, 'Hello']

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [44]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
l2 = []
for i in list_example:
    if i >= 4 and i <=8:
        i = i*10
        l2.append(i)
print(l2)

#new_list = [x*10 for x in list_example if 4<=x<=8]
#print(new_list)

[40, 50, 60, 70, 80]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [55]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

In [60]:
print([v1 + v2 for v1, v2 in zip(list1, list2)])

['My', 'name', 'is', 'Antonio']

# Tuples

### Unpack the tuple so that we get 4 new variables.

In [63]:
my_tuple = (10, 20, 30, 40)

In [64]:
(a, b, c, d) = my_tuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### Explain with your own words what the code below containing two scenarios does.

In [65]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()

# Scenario 2.
x = f(3)
print(x)

2
4
8
16

(3, 9, 27, 81)

Scenario 1 gives values of x, x^2, x^3, x^4 as x1, x2, x3, x4 which is unpacking the tuple but in Scenario 2 gives without unpacking.

### Count the number of times 24 occurs in the tupple.

In [66]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [67]:
print (tuple_22.count(24))

3

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [71]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

In [72]:
t1,t2 = t2,t1
print (t1)
print (t2)

('R', 'Julia')
('Python', 'MATLAB')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [73]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

In [74]:
print (dict(zip(l1, l2)))

{1: 'Python', 2: 'C++', 3: 'Java'}

### Print out the value corresponding to the key "1".

In [79]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

In [83]:
print (dictionary[1])

as

### Explain with your own words what the code does.

In [84]:
def y(x):
  y0 = x
  y1 = x**2
  y2 = x**3

  return {'y0': y0, 'y1': y1 ,'y2': y2}

In [85]:
y(2)['y1']

4

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

In [87]:
my_set = {'Python', 'R', 'MATLAB', 'Julia', 'SAS', 'C'}

### Find all elements that are in atleast one of the sets.

In [95]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

In [103]:
for i in set_a:
    if (i not in set_b):
        set_b.add(i)
print (set_b)

# set_a.union(set_b)

{0, 1, 2, 99, 100, 15, 765}

### Find all the items that are in *both* lists and return those values in a list.

In [100]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

In [102]:
l3 = []
for i in l1:
    if i in l2:
       l3.append(i)
print (l3)

# intersection = list(set(l1).intersection(set(l2)))
# print(intersection)
# print(type(intersection))

['Python', 'Julia']

### Find all the unique elements of the list.

In [107]:
l = [1, 1, 2, 2, 3, 1, 2]

In [108]:
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)

# print(set(l))

# If you would like to return the unique elements in a list this is easily done:
# print(list(set(l)))

[1, 2, 3]

### Find all the elements that are in set_1 but not in set_2.

In [109]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

In [110]:
set_1.difference(set_2)

{2, 5, 6}

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [111]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [112]:
for i in looping_list:
    print (i)

0
a
b
[1, 2, 3]
('Python', 'R')
55

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [113]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [114]:
for i,j in enumerate(looping_list):
    print (i,j)

0 0
1 a
2 b
3 [1, 2, 3]
4 ('Python', 'R')
5 55

### Write a for loop to print out each letter in the string.

In [115]:
for_string = 'Python!'

In [116]:
for i in for_string:
    print(i)

P
y
t
h
o
n
!

### Write a while loop to print out each letter in the string.

In [117]:
while_string = 'Is Awesome!'

In [118]:
l = len(while_string)
i = 0
while i < l:
    print(while_string[i])
    i += 1

I
s

A
w
e
s
o
m
e
!

### Print the numbers 1, 2, ..., 10 with a while loop.

In [119]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [120]:
numbers = [10, 20, 34, 46, 55]

In [121]:
for i in numbers:
    if i % 5 == 0:
        print (i)

10
20
55

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

In [122]:
for i in range(0, 25, 5):
    print (i)

0
5
10
15
20

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [123]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
l2 = []
for i in list_example:
    if i >= 4 and i <=8:   # if 4<=i<=8:
        i = i*10
        l2.append(i)
print(l2)

[40, 50, 60, 70, 80]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

In [126]:
def uppercase_converter(string):
    return string.upper()

a = uppercase_converter('hello')
print (a)

HELLO

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

In [127]:
def two_arguments(a, b):
    return a+b, a-b
ans = two_arguments(10, 5)
print (ans)

# def sum_and_add(x, y):
#     addition = x + y
#     subtraction = x - y
#     return (addition, subtraction)

# sum_and_add(10, 5)

(15, 5)

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

### Assign a different name to the function and call it through the new name.

In [128]:
def my_sum_function(x1, x2):
    return x1 + x2

my_sum_function(1,2)

3

In [129]:
new_name = my_sum_function
new_name(2,3)

5

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [139]:
def f( no1, no2, add_multiply):
    if add_multiply not in ('add' , 'multiply'):
        raise Exception ('Choose either "add" or "multiply" ')
    elif add_multiply in ('add'):
        ans = no1 + no2
        return ans
    elif add_multiply in ('multiply'):
        ans = no1 * no2
        return ans
                          
print(f(5,3,'add'))
print(f(5,3,'multiply'))
print(f(5,3,'sub'))

8
15

Exception: Choose either "add" or "multiply"

### Run the program below and explain what it does.

In [141]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

What is your name dear stranger?Magesh
Mom, I met a person whos name is: Magesh

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [142]:
string_1 = 'anna'
string_2 = 'john'

In [144]:
if string_1 == string_1[::-1]:
    print ('It is a Palindrome')
else:
    print ('It is not a Palindrome')
    
if string_2 == string_2[::-1]:
    print ('It is a Palindrome')
else:
    print ('It is not a Palindrome')

It is a Palindrome
It is not a Palindrome

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [145]:
number = 8

In [146]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')

Less than 10
Less than 100

In [147]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

Less than 10